// CALL TO ACTION
.cta {
    padding: rem(35) 0;
    text-align: center;

    @media only screen and (max-width: $bp-900) {
        padding: rem(25) 0;
    }

    &__book-now {
        font-size: rem(20);
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: rem(25);
        padding: 0 rem(30);
    }
}