// Sass & CSS Variables

/* CUSTOM PROPERTY / CSS Variables */
:root {
    // COLORS
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-primary-rgba: 235, 47, 100;
    --color-primary-light-rgba: 255, 51, 102;
    --color-primary-dark-rgba: 186, 38, 93;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-white: #fff;
    --color-black: #000;

    --color-white-rgba: 255, 255, 255;
    --color-black-rgba: 0, 0, 0;

    // FONTS
    --font-size-default: 1.6rem;

    // BOX-SHADOWS
    // X-Y-BLUR
    --box-shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --box-shadow-light: 0 2rem 5rem rgba(var(--color-black-rgba), .06);

    // BORDERS
    --line: .1rem solid var(--color-grey-light-2);
    --line-dark: .1rem solid var(--color-grey-light-4);
}

/* SASS VARIABLES */
// MEDIA QUERIES
$bp-1200: 75em;
$bp-1100: 68.75em;
$bp-900: 56.25em;
$bp-600: 37.5em;
$bp-500: 31.25em;

// USE MEDIA QUERIES
// @media only screen and (max-width: $bp-500) {
//     width: 95%;
// }

// COLORS
// $color-primary: #eb2f64;
// $color-primary-light: #FF3366;
// $color-primary-dark: #BA265D;

// $color-secondary-light: ;
// $color-secondary-dark: ;

// $color-tertiary-light: ;
// $color-tertiary-dark: ;

// $color-white: #fff;
// $color-black: #000;

// // FONT
// $font-size-default: 1.6rem;
